*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  outline: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
  background: linear-gradient(#c7560c, #ff990057);
  height: 100vh;
}

.header{
  margin-top: 10px;
  color: white;
  text-align: center;
}
.form{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  font-size: 1.2rem;

}
.form label {
  width: 100%;
  margin: .5rem 1.3rem;
}
.form input{
  width: 100%;
  font-size: inherit;
  padding: 5px 10px;
}
.form__paste {
  height: 100px;
  width: 100%;
  font-size: inherit;
  padding: 5px 10px;
  resize: vertical;
}
.form .submit{
  width: 40%;
  margin:auto;
  padding: 8px;
  border: 1px solid white;
  background: #96542b;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  color:white;
}


.form span{
  float: right;
  font-weight: bold;
  color: red;
}
.note-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin:auto
}
.note-links__note{
  margin: 10px 10px;
  list-style: none;
  background: #8c3b08;
  /* transform: rotate(0deg); */
  border-radius: 7px;
  padding: 20px;
  color: #fff;
  border: 1px solid;
}
.note-links__note a{
  text-decoration: none;
  color: #fff
}