<form action="/post" method="POST" class="form">

  <label for="username">Username:
    <span id="username-error" class="form__username-error"></span>
    <input type="text" name="username" id="username" class="form__username" >
  </label>

  <label for="email"> Email:
    <span id="email-error" class="form__username-error"></span>
    <input type="email" name="email" id="email" class="form__email" >
  </label>

  <label for="password"> Password:
    <span id="password-error" class="form__username-error"></span>
    <input type="password" name="password" id="password" class="form__password"  >
  </label>

  <label for="confirm"> Confirm:
    <span id="confirm-error" class="form__username-error"></span>
    <input type="password" name="confirm" id="confirm" class="form__confirm" >
  </label>

  <label for="title"> Paste Title:
    <span id="title-error" class="form__username-error"></span>
    <input type="text" name="title" id="title" class="form__title" >
  </label>

  <label for="paste"> Enter your note:
    <span id="paste-error" class="form__username-error"></span>
    <textarea type="text" name="paste" id="paste" cols="30" rows="10" class="form__paste" multiple></textarea>
  </label>

  <input type="submit" class="submit" id="submit">

</form>

<ul id="note-links" class="note-links">
  {{#each notes}}
  <li class="note-links__note">
    <a href={{this.info.pasteLink}}>
    {{this.info.title}}
    </a>
  </li>
  {{/each}}
</ul>

<script src="/js/index.js"></script>
<script src="/js/dom.js"></script>